.idea/
.vscode/
node_modules/
build/
tmp/
temp/
src/grpc/generated/
!/postgres-data/
./postgres-data
loki-data/
grafana-data/
rabbitmq-data/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local
postgres-data/
